<p id="notice"><%= notice %></p>

<p>
  <strong>Album Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist Name:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>Song Title:</strong>
  <%= @album.songs.first.title %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
